.venv/
.env
!data/
!data/raw/
!data/processed/
data/raw/*
data/processed/*
__pycache__
!data/**/*.dvc
!data/**/.gitignore
outputs/phase1/
unsloth_compiled_cache/
notebooks/
*.log
logs/
outputs/train.log
.docker/
~/.cache/huggingface/
.cache/
mlruns/
mlflow/
mlflow.db
.mypy_cache/
.pytest_cache/
.ruff_cache/
